import os


CONTENT_PROCESSORS = {
    'prerendered/': {
        '*.*' :
            ('hydeengine.content_processors.PassthroughProcessor',)
            }
}

SITE_PRE_PROCESSORS = {
    '/': {
        'hydeengine.site_pre_processors.NodeInjector' : {
            'variable': 'blog_node',
            'path': 'content/blog',
        }
    }
}

# LESS_CSS_PATH = 'l:/src/newblog/cloudhead-less.js-557177c/bin/lessc'

