{% extends "skeleton/_base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block content %}
    <div class="splash vcard">
        {% filter typogrify %}
            <p>
                Hello,
                I'm
                <a href="{{ site.full_url }}" class="fn url">Michael<span class="last-name"> He</span></a>.
            </p>

            <p>
                If you want to get in touch with me,
                <a class="email" href="mailto:michael.he@gmail.com">email</a>
                is best.
            </p>
        {% endfilter %}
    </div>
{% endblock %}
